.footer
  //- .contact
  a(href="contact [at] mail.com" rel="nofollow" onclick="this.href='mailto:' + 'dimitri.naczaj' + '@' + 'me.com' + '?' + 'subject=Hello!'") Contact
      //- img(src="images/contact.svg" alt="email")

  //- .twitter
  a#desktop(href="twitter://user?screen_name=dimnc_") Twitter
      //- img(src="images/twitter.svg" alt="Twitter")
  a#mobile(href="https://twitter.com/dimnc_") Twitter
      //- img(src="images/twitter.svg" alt="Twitter")

  //- .linkedin
  a(href="https://www.linkedin.com/in/dimitrinaczaj/") Linkedin
      //- img(src="images/linkedin.svg" alt="Linkedin")
