.home
  h1 Dimitri Naczaj
  h2 RESEARCHER IN DESIGN & BEHAVIOURAL SCIENCES
  p Hello!
  br
  p#intro I am Dimitri, an R&D consultant in behavioural psychology. I&nbsp;like to create communications that enhance motivation, engage people and produce a behavioural change.
  p I am specialised in digital communications and design, as well as real-life configurations. So, if you are in a situation in which you need to reinforce people's attitudes or change their behaviour, drop me a line, I&nbsp;might be of help.

  br
  p My best,
  p Dimitri Naczaj
  //- p Ph.D. in Social Psychology
  //- p Research on webdesign & online persuasion 
  //- p Consultant in attitude & behavior change


//- .photo
  //- img(src="images/photo.png", alt="Dimitri")
