.menu
  a(href="parts/research.html")#research
    p Research
  a(href="parts/conferences.html")#conferences
    p Conferences
  a(href="portfolio/index.html")#portfolio
    p Portfolio
  a(href="parts/cv.html")#cv
    p CV
