//output: index.html, pretty:true
head

  // Stylesheets
  link(rel="stylesheet", href="portfolio.css")

body

  main
    .content
    
      .close
        a(href="../index.html") ⨉

      h1#pagetitle Portfolio

      .tableau
        ul
          li.carte
            img
            h2 Lorem Ipsum
            p lorem ipsum dolor sit amet
              
          li.carte
            img
            h2 Lorem Ipsum
            p lorem ipsum dolor sit amet

          li.carte
            img
            h2 Lorem Ipsum
            p lorem ipsum dolor sit amet
              
          li.carte
            img
            h2 Lorem Ipsum
            p lorem ipsum dolor sit amet

          li.carte
            img
            h2 Lorem Ipsum
            p lorem ipsum dolor sit amet
              
          li.carte
            img
            h2 Lorem Ipsum
            p lorem ipsum dolor sit amet
    
        

    include ../parts/menu
    include ../parts/footer
